
.user-card{
    display: flex;
    flex-direction: column;
    
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: hsl(235, 46%, 20%);
    
    height: 100%;
}

.info-container{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color:hsl(246, 80%, 60%);
    
    padding-top: 20%;
    height: 60%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

img{
    max-width: 60%;
    height: auto;
    border:white 3px solid;
    border-radius: 50%;
}

.user-text{
    padding-top: 10%;
    padding-bottom: 20%;
    padding-right: 15px;
}

.time-type-container{
    font-weight: 400;
    color:hsl(235, 45%, 61%);
    height: 40%; /*lo que sobre*/

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
  /*  border:2px red solid;*/ 
}

.time-type-container h4{
    cursor: pointer;
    width: fit-content;
    padding-left: 5%;
}

@media (max-width:420px) {

    .info-container{
        flex-direction: row;
        align-items: center;
        padding: 20px 0px;
    }

    .user-img{     
        display: flex;
        justify-content: center;
        flex-basis:40%;
    }
    .user-text{
        flex-basis:50%;   
        padding:0;  
    }
    
    .time-type-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0 0 0;
    }

    .time-type-container h4{
        padding: 0;
        margin:0;  
        cursor: pointer;
    }
}